
/* /estilos de new section/ */
    /* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: black;
} */

.container {
    text-align: center;
    padding: 20px;
}

.box {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ddd;
    background-color: #fff;
    opacity: 0; /* Inicialmente, la caja está oculta */
    transition: opacity 0.5s;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding-top: 20px;
    animation: slideIn 2s ease-in-out; /* Agregamos una animación de deslizamiento */

}

.box.left-text {
    background-image: url("img/fondo2.jpg");
}


.box.right-text {
    background-image: url("img/fondotec.jpg");
}

.box img {
    max-width: 400px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    flex-shrink: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .box {
        flex-direction: column; /* Cambia la dirección a columna en pantallas pequeñas */
        align-items: center;
    }

    .content {
        padding-top: 0; /* Elimina el espacio entre la imagen y el texto */
        text-align: center;
    }

    .box img {
        margin-bottom: 0; /* Elimina el espacio entre la imagen y el texto */
    }
}