/* .carousel{
    margin-top: 97px;
} */

.carousel-item .container{
    height: 350px;
}

.carousel-inner__caja{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.carousel-inner{
    /* background-color: white; */
    background-image: url(/img/bg-carrusel.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-top: 100px;
}

.carousel__texto{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5%;
}

.carousel__button{
    max-width: 30%;
}

.carousel-inner__boximg{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 300px;
}

.carousel__img{
    max-height: 100%;
}




